/**
 * Site header
 */
 .wrapper .container {
    max-width: 80rem;
}

.site-header {
    text-align: center;
    font-variant: all-small-caps;
    a {color: $color-secondary;}

    h1 {
        font-weight: bold;
    }
}

.navbar {
    display: block;
}

.nav-item {
    display: inline-block;
    padding: 1rem;
}

.post-nav {
    text-align: center;
    padding: 1rem;
}

.post-title {
    display: block;
}

// site body
$color-green: #a9e4a5;

body {
    background-color: $color-green;
}

/**
 * override column size for mobile
 */
@media (max-width: 40.0rem) {
    .row .column.column-33, .row .column.column-34 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}

/**
 * Site footer
 */
.site-footer {
    border-top: 1px solid $grey-color-light;
    margin: 2rem 0;
    padding: 2rem 0;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

/**
 * Misc
 */
.container:hover {
    .preview-panel {
        opacity: 0.2;
    }

    .preview-panel:hover {
        opacity: 1;
    }
}

.preview-panel {
    transition: 0.3s opacity;
    margin: 2rem 0;
    box-sizing: border-box;
    // border: 1px solid $color-initial;
    position: relative;

    img { display: block; }

    .overlay {
        opacity: 0;
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background: pink;
        transition: 0.3s opacity;

        &:hover {
            opacity: 1;
        }
        .post-title {
            position: relative;
            float: left;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            font-weight: 700;
            font-variant: all-small-caps;
            font-size: 2em;

            text-align: center;
            width: 70%;
        }
    }


    &:hover {
        background: pink;
        // border: 1px solid $grey-color-light;
    }
}
